In [7]:
from sklearn import linear_model
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pandas_profiling as pp
import plotly.express as px
%matplotlib inline

# 회귀분석을 해보자

In [7]:
# 폰트설정 (맥)
from matplotlib import font_manager
plt.rcParams["font.family"] = 'NanumGothicCoding'
from matplotlib import rc
rc('font', family="Arial Unicode MS")

## 지금까지의 회귀분석 모델의 결과
 - x1 : exclusive_use_area, x2 : year_of_completion, x3 : floor,
    - score =  0.3194554604195421
    - Mean_Squared_Error =  656071224.025548
    - RMSE =  25613.88732749381

 - x1 : exclusive_use_area, x2 : year_of_completion, x3 : floor, x4 : dong
    - score =  0.753000279857136
    - Mean_Squared_Error =  238117271.24869266
    - RMSE =  15431.04893546426

In [10]:
from sklearn import linear_model
import StrReg

## 계산해보자

### Train 데이터만으로 계산 
 - 계속 반복되는 계산을 클래스로 만들었다.

In [11]:
train = pd.read_csv('datas/train.csv')

In [12]:
train.head(1)

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500

In [13]:
reg = StrReg.StrReg()

In [14]:
reg.linear_regression_fit(['exclusive_use_area', 'floor'], ['dong', 'apartment_id'], 'transaction_real_price', train)

LinearRegression()

In [15]:
prediction = reg.linear_regression_predict(train)

In [16]:
y = train['transaction_real_price']

In [17]:
residuals = y-prediction
residuals.describe()

count    1.216553e+06
mean     5.015362e-11
std      1.054340e+04
min     -2.164255e+05
25%     -4.503529e+03
50%     -1.998651e+02
75%      3.897433e+03
max      4.870099e+05
Name: transaction_real_price, dtype: float64

In [18]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

R_squared =  0.884690081565853

In [19]:
from sklearn.metrics import mean_squared_error
print('score = ', R_squared)
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

score =  0.884690081565853
Mean_Squared_Error =  111163215.5273989
RMSE =  10543.396773687258

In [20]:
linear_regression = reg.linear_regression_fit(['exclusive_use_area', 'floor'], ['dong', 'apartment_id'], 'transaction_real_price', train, True)

In [21]:
prediction = reg.linear_regression_predict(train)

In [22]:
y = train['transaction_real_price']

In [23]:
residuals = y-prediction
residuals.describe()

count    1.216553e+06
mean     8.711762e-12
std      1.256274e+04
min     -1.281950e+05
25%     -4.565783e+03
50%     -1.209431e+02
75%      4.623889e+03
max      5.977518e+05
Name: transaction_real_price, dtype: float64

In [24]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

R_squared =  0.8362905578787407

In [25]:
from sklearn.metrics import mean_squared_error
print('score = ', R_squared)
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

score =  0.8362905578787407
Mean_Squared_Error =  157822225.92403314
RMSE =  12562.73162668188

In [26]:
reg.linear_regression_fit(['exclusive_use_area', 'floor'], ['dong', 'apartment_id', 'transaction_year_month'], 'transaction_real_price', train)

LinearRegression()

In [ ]:
prediction = reg.linear_regression_predict(train)

In [ ]:
y = train['transaction_real_price']

In [ ]:
residuals = y-prediction
residuals.describe()

In [ ]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

In [ ]:
from sklearn.metrics import mean_squared_error
print('score = ', R_squared)
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

In [ ]:
reg.linear_regression_fit(['exclusive_use_area', 'floor'], ['dong', 'apartment_id', 'transaction_year_month'], 'transaction_real_price', train, 'exclusive_use_area')

In [ ]:
prediction = reg.linear_regression_predict(train)

In [ ]:
y = train['transaction_real_price']

In [ ]:
residuals = y-prediction
residuals.describe()

In [ ]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

In [ ]:
from sklearn.metrics import mean_squared_error
print('score = ', R_squared)
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

### Park데이터 추가

In [96]:
park_df = pd.DataFrame(pd.read_csv('datas/park.csv'))

In [97]:
area = pd.pivot_table(park_df, index='dong',aggfunc="sum")[['park_area']].reset_index()

In [98]:
count = pd.pivot_table(park_df, index='dong',aggfunc="count")[['park_area']].reset_index()

In [99]:
count.rename(columns={'park_area' : 'park_count'}, inplace=True)

In [100]:
park_df = pd.merge(area, count)

In [101]:
train = pd.merge(train ,park_df)

In [102]:
train.head(1)

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price,park_area,park_count
0,11,7808,서울특별시,명륜1가,45-5,아마레스,명륜1가 45-5 아마레스,84.59,2002,200801,1~10,1,30400,1149.5,1

In [103]:
reg.linear_regression_fit(['exclusive_use_area', 'floor', 'park_area', 'park_count'], ['dong', 'apartment_id', 'transaction_year_month'], 'transaction_real_price', train)

LinearRegression()

In [104]:
prediction = reg.linear_regression_predict(train)

In [105]:
y = train['transaction_real_price']

In [106]:
residuals = y-prediction
residuals.describe()

count    9.525760e+05
mean    -4.143787e-12
std      1.040958e+04
min     -1.878745e+05
25%     -3.876777e+03
50%     -1.527318e+02
75%      3.457916e+03
max      5.125607e+05
Name: transaction_real_price, dtype: float64

In [107]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

R_squared =  0.9003701677303142

In [108]:
from sklearn.metrics import mean_squared_error
print('score = ', R_squared)
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

score =  0.9003701677303142
Mean_Squared_Error =  108359138.68998289
RMSE =  10409.569572752895

 <img src="./datas/dacon.png" style="width:150%;">